*, ::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.left-form{
    width: 60%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #fff url('img/index_bg.jpg')center;
    background-size: cover;
}

.rigth-form{
    width: 40%;
    height: 100%;
    margin: 0;
    float: left;
    background-color: #cec9c99a;
    display: flex;
    justify-content: center;
}

.rigth-form form{
    margin-top: 50px;
    height: 90%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.rigth-form h2{
    font-size: 2em;
    color: rgba(10, 90, 136, 0.788);
    margin: 20px 0;
    font-weight: bold;
}

.rigth-form form > input{
    width: 100%;
    padding: 10px 0;
    font-size: 1.2em;
}

.rigth-form label {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
}

.check{
    width: 100%;
    margin: 20px 0;
}

.rigth-form input[type="submit"]{
    width: 80%;
    background-color: rgba(10, 90, 136, 0.788);
    border-radius: 15px;
    font-size: 18px;
    padding: 9px 20px;
    margin-top: 20px;
}
.rigth-form input[type="submit"]:hover{
    text-decoration: underline;
}

.rigth-form a{
    padding: 15px 0px;
    color:rgba(10, 90, 136, 0.788);
    text-decoration: none;
}

.rigth-form a :hover{
    text-decoration: underline;
}