#map{
    height: 100%;
}
html,
body{
    height: 70%;
    margin: 0;
    padding: 0;
}
.grid-template-column-3-4 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
}
.input {
    display: flex;
    width: 90%;
    height: 2rem;
}

.bg-gray {
    background-color: aliceblue;
}

.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}

.mt-1 {
    margin-top: 1rem;
}
