*, ::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.left-form{
    width: 60%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #31572c;
    background-size: cover;
    position: relative;
    text-align: center;
}

.left-form-img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
    border-radius: 10%;
    border: 4px dashed #ffffff;
    text-align: center;
    top: 10%;
}

.left-form h1 {
    display: inline-block;
    position: relative;
    margin-top: 60px;
    color: #a7c957;
    font-size: 60px;
    font-family: 'Cormorant Garamond', serif;
}
.left-form h1::before{
    content: '';
    position: absolute;
    width: 810px;
    height: 5px;
    background-color: currentColor;
    top: 1.2em;
}

.rigth-form {
    width: 40%;
    height: 100%;
    margin: 0;
    float: left;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.rigth-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90a955;
    border-radius: 15px;
    width: 80%;
    height: 75%;
    padding: 25px;
}

.rigth-form h2{
    font-size: 4em;
    color: #31572c;
    font-weight: bold;
    font-family: 'Goudy Bookletter 1911', serif;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10%;
}

.rigth-form form > input{
    width: 75%;
    height: 60px;
    font-size: 2em;
    color: #cc5803;
    border: none;
    background: #ecf39e;
    outline: none;
    border-radius: 15px;
    padding-left: 15px;
    margin: auto;
    font-family: 'Lora', serif;
}
.rigth-form input::placeholder {
    text-align: left;
    color: #ce9166;
}

.rigth-form label {
    width: 100%;
    font-size: 2.2em;
    margin: 10px 0  ;
    pointer-events: none;
    color: #0c0c0c;
    text-align: left;
    font-weight: bold;
    font-family: 'Goudy Bookletter 1911', serif;
}

.rigth-form input[type="submit"]{
    width: 30%;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: 'Goudy Bookletter 1911', serif;
    color: #31572c;
    margin: auto;
    padding-left: 0px;
    cursor: pointer;
}
.rigth-form input[type="submit"]:hover{
    text-decoration: underline;
}

.rigth-form a{
    padding: 10px 0px;
    color: #31572c;
    text-decoration: none;
    font-size: 2em;
}

.rigth-form a:hover {
    text-decoration: underline;
}


@media (max-width: 1100px) {
    .rigth-form{
        width: 40%;
    }
    .rigth-form form{
        height: 100%;
    }
    .rigth-form form > input{
        width: 100%;
        height: 55px;
        font-size: 1.2em;
    }
    .rigth-form label {
        width: 100%;
        font-size: 1.2em;
    }

    .rigth-form input[type="submit"]{
        margin-top: 20px;
    }

    .rigth-form a{
        font-size: 1.2em;
    }
    .left-form h1 {
        font-size: 45px;
    }
    .left-form h1::before{
        width: 590px;
    }
    .rigth-form h2{
        font-size: 2.5em;
    }

}
@media (max-width: 800px) {
    .left-form {
        display: none;
    }

    .rigth-form{
        width: 100%;
    }
    .rigth-form form{
        height: 100%;
        width: 90%;
        border: 3px dashed #d0bc56;
    }
    .rigth-form label {
        width: 100%;
        font-size: 1.5em;
    }

    .rigth-form input[type="submit"]{
        margin-top: 20px;
    }

    .rigth-form a{
        font-size: 1.5em;
    }
}
@media (max-width: 500px) {
    .left-form {
        display: none;
    }

    .rigth-form{
        width: 100%;
    }
    .rigth-form form{
        height: 100%;
        width: 100%;
        border: 3px dashed #d0bc56;
    }
    .rigth-form h2{
        font-size: 2em;
    }
    .rigth-form form > input{
        width: 100%;
        height: 60px;
        font-size: 1.5em;
    }

    .rigth-form label {
        width: 100%;
        font-size: 1.5em;
    }

    .rigth-form input[type="submit"]{
        margin-top: 20px;
        width: 35%;
    }

    .rigth-form a{
        font-size: 1.5em;
    }
}
