body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sec_1{
    height: 80vh;
    align-items: center;
}
.sec_2{
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 100%;
}

/* Estilos para el header */
header {
    background-color: rgba(10, 90, 136, 0.788);
    clear: both;
    content: '';
    display: table;
    width: 100%;
    height: 25%;
}

.menu {
    width: 100%;
    margin: 0 auto;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-left: 80px;
}

.menu ul li {
    display: inline-block;
    margin-left: 180px;
    padding: 25px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}


#map {
    height:100%;
    width: 100%;

}

.grid-template-column-3-4 {
    display: grid;
    grid-template-columns: 6.5fr 1fr;
    height: 100%;
    overflow: hidden;
}

.justify-content-center {
    justify-content: center;
}

/* Estilos para el título del menú de botones */
#buttons-container h2 {
    color: #444444;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}


.search-buttons-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: lightgrey;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 40%;
}

/* Ajusta el margen inferior del botón de ubicación */


/* Estilos para los botones */
.btn {
    max-width: 250px;
    height: 40px;
    margin: 10px 0; /* Ajusta el margen vertical */
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0; /* Gris claro */
    color: #333; /* Texto oscuro */
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo al pasar el mouse sobre los botones */
.btn:hover {
    background-color: #ccc; /* Gris un poco más oscuro */
}

/* Estilos para botones deshabilitados */
.btn:disabled {
    background-color: #f2f2f2; /* Gris claro más claro para botones deshabilitados */
    color: #999; /* Texto gris para botones deshabilitados */
}

/* Estilos específicos para los botones dentro de #buttons-container */
#buttons-container .btn {
    display: block;
    text-align: center;
    line-height: 40px;
}

#buttons-container .btn:before {
    content: attr(data-nombre); /* Muestra el atributo nombre en el botón */
}
#my-location-container {
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    width: 10%;
    background-color: lightgrey;
}
#additional-button {
    align-self: center;
    max-width: 100px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #ffcccc; /* Tono rojo claro */
    color: #333; /* Texto oscuro */
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 0;
}
#additional-button:hover {
    background-color: #ff9999;/* Estilo al pasar el mouse sobre el botón de ubicación actual */
}
#go-to-location-btn {
    display: none;
}

.pin-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    width: 30%;
    margin-left:0;
}

h2 {
    color: dimgray; /* Color de texto oscuro */
    font-size: 19px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Margen inferior */
}

#pin-input-container label {
    margin-bottom: 0.5rem;
}

#pin-input {
    margin-top: 10px;
    padding: 5px;
    display: block;
    color: #000;
}

#verify-pin-button {
    display: none ;
}
.modal-grande{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    width: 30%;
    margin-left:0;
    margin-top: 20px;
}
.boton-modal label{
    padding: 10px 15px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal label:hover{
    background-color: #185E83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-enviar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #CD1616;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-enviar label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color:#185E83;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/

