body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #90a955;
}
#question-text{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.5em;
}
#quiz-container {
    max-width: 800px;
    width: 100%;
    height: 90%;
    text-align: center;
    background-color: #ecf39e;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Mochiy Pop P One', sans-serif;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #f3de2c;
    color: #020202;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 35px;
    margin: 8px auto;
    box-shadow: 5px 5px 0 #3d3c3c;
    padding: 10px 100px;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.2em;
}

.btn:hover {
    background-color: #7cb518;
}

.btn.selected {
    background-color: #fb6107;
    color: #fff;
}

#next-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#next-button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #90a955;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    padding: 6px 20px;
    transition: .5s;
}

#next-button:hover {
    background-color: #ffc971;
    transform: scale(1.1);
}

#next-button.selected {
    background-color: #f39c12;
    color: #fff;
}
#question-image {
    max-width: 45%; /* La imagen no superará el ancho del contenedor */
    height: auto;    /* La altura se ajustará automáticamente para mantener la proporción original */
    border-radius: 15px;
    border: 3px dashed #90a955;
}

@media (max-width: 1100px) {
    #question-text{
        font-size: 2em;
    }
    #quiz-container {
        max-width: 800px;
        width: 90%;
        height: 95%;
        padding: 10px;
        border-radius: 8px;
    }

    .btn {
        height: 45px;
        font-size: 1.5em;
        margin: 8px auto;
        padding: 10px 100px;
    }

    #question-image {
        max-width: 65%; /* La imagen no superará el ancho del contenedor */
        height: auto;    /* La altura se ajustará automáticamente para mantener la proporción original */
    }
}
@media (max-width: 800px) {
    #question-text{
        font-size: 1.2em;
        font-weight: bold;
    }
    #quiz-container {
        max-width: 800px;
        width: 90%;
        height: 95%;
        padding: 8px;
        border-radius: 8px;
    }

    .btn {
        height: 35px;
        font-size: 1em;
        margin: 6px auto;
        padding: 10px 100px;
    }

    #question-image {
        max-width: 55%; /* La imagen no superará el ancho del contenedor */
        height: auto;    /* La altura se ajustará automáticamente para mantener la proporción original */
    }
}

@media (max-width: 500px){
    #question-text{
        font-size: 1.2em;
    }
    #quiz-container {
        max-width: 800px;
        width: 90%;
        height: 95%;
        padding: 10px;
        border-radius: 8px;
    }

    .btn {
        height: 40px;
        font-size: 1em;
        margin: 8px auto;
        padding: 5px 50px;
    }

    #question-image {
        max-width: 65%; /* La imagen no superará el ancho del contenedor */
        height: auto;    /* La altura se ajustará automáticamente para mantener la proporción original */
    }

}